.articles .introduction {
 font-size: 10px;
 padding: 5px;
 border: 1px solid #324C48;
 background-color: #e0EBE9;
 left: 25px;
 width: 300px;
 -moz-opacity: 0.9; filter: alpha(opacity=90);
 }

.articles .introduction {
	display: none;
	position: absolute;
	top: 0;
}
.articles .entry-content {
 position: relative;
 z-index:1;
}

.articles .hentry {
	position: relative;
}

	body {
		background: url(http://rezo.net/img_rezo/fond7.gif);
		background-color: white;
		margin: 0px;
		padding: 0px;
		font-family: arial, helvetica, sans;
		font-size: 12px;
	}
	
	a { text-decoration: none; }
	a:hover { text-decoration: none; }

	.logo {
		background: url(http://rezo.net/img_rezo/logorezo-blanc.gif) top left no-repeat;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	#conteneur {
		background: url(http://rezo.net/img_rezo/patte-blanc.gif) top right no-repeat;
	}

	.central {
		margin: auto;
		width: 750px;
	}

	#contenu {
		clear:both;
		float:left;
		overflow:hidden;
		width:425px;
	}

	.centre1 .source, .centre1 .datehm, .articles .datehm  {
		display: none;
	}
	.centre1 {
		background: url(http://rezo.net/img_rezo/fond4.gif);
		border: 1px solid #324C48;
		padding: 5px;
		width: 425px;
	}
	.centre1 {
		color: #324C48;
	}
	.centre1:hover {
		color: #000;
	}
	.centre1 a:visited {
		color: #666666;
	}
	
	.centre1 a:hover {
		color: #000000;
	}
	
	.centre1 a .titre {
		display: block;
		font-size: 12px;
		font-family: verdana, arial, helvetica, sans;
		font-weight: bold;
		color: #222222;
	}
	.centre1 a:hover .titre {
		color: black;
	}
	.centre1 .introduction {
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 10px;
		font-family: verdana, arial, helvetica, sans;
	}
	.centre1 .auteur {
		display: block;
		text-align: right;
		padding-left: 0px;
		font-size: 12px;
	}

	.articles .entry-title {
		display: block;
		color: #444444;
		padding-left: 5px;
		margin-left: 3px;
		font-size: 12px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.articles .entry-title:visited{
		color: #748F8A;
	}
	.articles .entry-title:hover {
		color: #111111;
		padding-left: 5px;
		margin-left: 0px;
		border-left: 3px solid #333333;
	}
	.articles .entry-title .auteur{
		display: block;
		font-family: verdana, arial, helvetica, sans;
		font-size: 11px;
	}
	
	a.lienauteur {
		color: white;
	}

	.articles.english {
		background: url(http://rezo.net/img_rezo/vert70.png);
	}
	.articles.english .date {
		display:none;
	}


	.pavedepeches a {
		display: block;
		color: #666666;
		padding-left: 10px;
		margin-left: 0px;
		font-size: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		background: url(http://rezo.net/img_rezo/pucefoncee.gif) left no-repeat;
		font-family: verdana, arial, helvetica, sans;
	}
	.pavedepeches a:visited{
		color: #748F8A;
		background: url(http://rezo.net/img_rezo/puceverte.gif) left no-repeat;
	}
	.pavedepeches a:hover{
		color: #000000;
		background: url(http://rezo.net/img_rezo/pucenoire.gif) left no-repeat;
	}

	/* masquer les resumes dans le bloc pavedepeches */
	.pavedepeches .date, .pavedepeches .entry-content {
		display: none;
	}

	/* bloc Ecouter */
	.pavedepeches.ecouter {
		background: url(http://rezo.net/img_rezo/vert70.png);
	}

	abbr.published {
		font-size: smaller;
	}

	#bandeau {
		background-color: #819A95;
		background: url(http://rezo.net/img_rezo/fond2.gif);
		padding: 5px;
		color: white;
		border-bottom: 1px solid #444444;
		margin-bottom: 8px;
	}

	#bandeau .maj {
		float: left;
	}

	.abandeau {
		float: right;
		padding-top: 7px;
	}

	.abandeau a {
		background-color: #9EB0AC;
		border-top: 1px solid #BBC3C1;
		border-left: 1px solid #BBC3C1;
		border-bottom: 1px solid #748F8A;
		border-right: 1px solid #748F8A;
		padding: 5px;
		padding-right: 20px;
		padding-left: 20px;
		margin: 5px;
		margin-right: 0px;
		margin-left: 0px;
		color: white;
		font-size: 10px;
	}
	
	.abandeau a:hover	{
		color: black;
		background-color: #cccccc;
	}

	a.accueil {
		float: left;
	}
	
	.articles .date {
		margin-top: 2.5em;
		font-size: 12px;
		font-family: verdana,arial,helvetica,sans;
		font-weight: bold;
		border-bottom: 2px solid #999999;
		color: #666666;
	}

	#navigation {
		float: right;
		width: 288px;
	}

	.pavedepeches {
		margin-top: 2.5em;
		padding: 5px;
		border: 1px solid #999999;
		background: url(http://rezo.net/img_rezo/blanc70.png);
	}
	
	.pavedepeches .datesep {
		text-align: center;
		padding-bottom: 3px;
		border-bottom: 1px solid #999999;
		margin-bottom: 3px;
		color:#666666;
		font-family:verdana,arial,helvetica,sans;
		font-size:12px;
		font-weight:bold;
		margin-top:0;
	}

	div.citation {
		color: #4D5F53;
		text-align: justify;
		font-size: 14px;
		font-family: georgia, times, serif;
		width: 300px;
		float: right;
		padding-top: 5px;
	}
	div.citation span.auteur {
		display: block;
		text-align: right;
		font-weight: bold;
	}



	a.mots, a.presse {
		display: block;
		padding: 3px;
		color: white;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
		width: 100%;
	}
	
	a.mots {
		background-color: #F09450;
		border-top: 1px solid #FACD8A;
		border-left: 1px solid #FACD8A;
		border-bottom: 1px solid #744900;
		border-right: 1px solid #744900;
	}
	a.presse {
		background-color: #748F8A;
		border-top: 1px solid #aaaaaa;
		border-left: 1px solid #aaaaaa;
		border-bottom: 1px solid #333333;
		border-right: 1px solid #333333;
	}
	div.actuelle {
		background-color: #666666;
		border-bottom: 1px solid #aaaaaa;
		border-right: 1px solid #aaaaaa;
		border-top: 1px solid #333333;
		border-left: 1px solid #333333;
		display: block;
		padding: 3px;
		color: white;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
		width: 100%;
	}
	a:hover.mots, a:hover.presse {
		color: black;
		background-color: #cccccc;
	}

	.maj {
		padding: 0px;
		color: white;
		font-size: 10px;
		font-family: verdana,arial,helvetica,sans;
	}
	
	.formrecherche {
		padding: 3px;
		background-color: #9EB0AC;
		border: 1px solid white;
		color: #333333;
	}
	
	.sources {
		width: 100%;
		padding: 3px;
		background-color: #9EB0AC;
		border: 1px solid white;
		color: #333333;
	}
	
	.liste {
		color: white;
		background: url(http://rezo.net/img_rezo/puceblanche.gif) left no-repeat;
		#margin-left: 20px;
		#padding-left: 10px;
	}

	.chapo {
		text-align: left;
	}

	.spip_logos {
	        margin: 3px;
	        border-width: 0px;
	}

