/* reset */
h4,h5 {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}



/* ecran large */
.large .central {width: 1024px;}
.large #contenu {width: 374px;}
#marge {display:none;}
.large #marge {display:block;}


.articles {
	margin-bottom: 2em;
}

.articles .introduction {
 font-size: 10px;
 padding: 5px;
 border: 1px solid #324C48;
 background-color: #e0EBE9;
 left: 25px;
 width: 300px;
 -moz-opacity: 0.9; filter: alpha(opacity=90);
 }

.articles .introduction {
	display: none;
	position: absolute;
	top: 0;
}
.articles .entry-content {
 position: relative;
 z-index:1;
}

.articles .hentry {
	position: relative;
}

	body {
		background: url(http://rezo.net/img_rezo/fond7.gif);
		background-color: white;
		margin: 0px;
		padding: 0px;
		font-family: arial, helvetica, sans;
		font-size: 12px;
	}
	
	a { text-decoration: none; }
	a:hover { text-decoration: none; }

	.logo {
		background: url(http://rezo.net/img_rezo/logorezo-blanc.gif) top left no-repeat;
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	#conteneur {
		background: url(http://rezo.net/img_rezo/patte-blanc.gif) top right no-repeat;
	}

	.central {
		clear:both;
		margin: auto;
		width: 750px;
	}

	#entete {
		padding-bottom:1.8em;
	}

	#contenu {
		float:left;
		width:425px;
		padding-bottom:6em;
	}

	#marge {
		float:left;
		width: 300px;
		margin-right:35px;
		padding-bottom:6em;
		display:none; /* le js large() l'affichera */
	}

	#une .source, #une .datehm, .articles .datehm  {
		display: none;
	}
	#une {
		background: url(http://rezo.net/img_rezo/fond4.gif);
		border: 1px solid #324C48;
		padding: 5px;
		clear: both;
		margin-bottom: 1.8em;
	}
	#une h5 {
		font-weight: normal;
	}

	/* #chandelle contient #une en mode 800 */
	#chandelle {
		width: 425px;
		float: left;
	}

	#une {
		color: #324C48;
	}
	#une:hover {
		color: #000;
	}
	#une a:visited {
		color: #666666;
	}
	
	#une a:hover {
		color: #000000;
	}
	
	#une a .entry-title {
		display: block;
		font-size: 12px;
		font-family: verdana, arial, helvetica, sans;
		font-weight: bold;
	}

	#une a[rel=bookmark] {
		color: #222222;
	}

	#une a[rel=bookmark]:hover {
		color: black;
	}
	#une .introduction {
		display: block;
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 10px;
		font-family: verdana, arial, helvetica, sans;
	}
	#une .auteur {
		display: block;
		text-align: right;
		padding-left: 0px;
		font-size: 12px;
	}

	.articles a[rel=bookmark] {
		display: block;
		color: #444444;
		padding-left: 5px;
		margin-left: 3px;
		font-size: 12px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.articles a[rel=bookmark]:visited{
		color: #748F8A;
	}
	.articles a[rel=bookmark]:hover {
		color: #111111;
		padding-left: 5px;
		margin-left: 0px;
		border-left: 3px solid #333333;
	}
	.articles a[rel=bookmark] .auteur{
		display: block;
		font-family: verdana, arial, helvetica, sans;
		font-size: 11px;
	}

	/* zapper la virgule dans les liens de type block */
	#une .auteur .v, .articles .auteur .v {
		display:none;
	}

	a.lienauteur {
		color: white;
	}

	#english {
		clear: both;
		background: url(http://rezo.net/img_rezo/vert70.png);
	}
	#english h5 {
		display:none;
	}


	.pavedepeches a[rel=bookmark] {
		display: block;
		color: #666666;
		padding-left: 10px;
		margin-left: 0px;
		font-size: 10px;
		margin-top: 5px;
		margin-bottom: 5px;
		background: url(http://rezo.net/img_rezo/pucefoncee.gif) left no-repeat;
		font-family: verdana, arial, helvetica, sans;
	}
	.pavedepeches a[rel=bookmark]:visited{
		color: #748F8A;
		background: url(http://rezo.net/img_rezo/puceverte.gif) left no-repeat;
	}
	.pavedepeches a[rel=bookmark]:hover{
		color: #000000;
		background: url(http://rezo.net/img_rezo/pucenoire.gif) left no-repeat;
	}

	/* masquer les resumes dans le bloc pavedepeches */
	.pavedepeches h5, .pavedepeches .entry-content {
		display: none;
	}

	/* bloc Ecouter */
	.pavedepeches.ecouter {
		background: url(http://rezo.net/img_rezo/vert70.png);
	}

	#bandeau, #footer {
		background-color: #819A95;
		background: url(http://rezo.net/img_rezo/fond2.gif);
		padding: 5px;
		color: white;
		height: 28px;
	}

	#bandeau {
		border-bottom: 1px solid #444444;
		margin-bottom: 8px;
	}
	#footer {
		border-top: 1px solid #444444;
		margin-top: 1em;
	}

	#bandeau .maj {
		float: left;
	}

	.abandeau {
		float: right;
		padding-top: 7px;
	}

	.abandeau a {
		background-color: #9EB0AC;
		border-top: 1px solid #BBC3C1;
		border-left: 1px solid #BBC3C1;
		border-bottom: 1px solid #748F8A;
		border-right: 1px solid #748F8A;
		padding: 5px;
		padding-right: 20px;
		padding-left: 20px;
		margin: 5px;
		margin-right: 0px;
		margin-left: 0px;
		color: white;
		font-size: 10px;
	}
	
	.abandeau a:hover	{
		color: black;
		background-color: #cccccc;
	}

	#accueil {
		float: left;
		width: 300px;
		margin-bottom: 20px;
	}
	
	#contenu h5 {
		clear: both; /* au cas ou une image est au rang du dessus */
		font-size: 12px;
		font-family: verdana,arial,helvetica,sans;
		font-weight: bold;
		border-bottom: 2px solid #999999;
		color: #666666;
		margin-top: 1.6em;
		margin-bottom: 1em;
	}
	#contenu .hentry:first-child h5 {
		margin-top:0;
	}

	#navigation {
		float: right;
		width: 288px;
		padding-bottom:6em;
	}

	.pavedepeches {
		padding: 5px;
		border: 1px solid #999999;
		background: url(http://rezo.net/img_rezo/blanc70.png);
		margin-bottom: 2.5em;
	}
	
	h4 {
		text-align: center;
		padding-bottom: 3px;
		border-bottom: 1px solid #999999;
		margin-bottom: 3px;
		color:#666666;
		font-family:verdana,arial,helvetica,sans;
		font-size:12px;
		font-weight:bold;
		margin-top: 0;
	}

	#citation {
		color: #4D5F53;
		text-align: justify;
		font-size: 14px;
		font-family: georgia, times, serif;
		float: right;
		padding-top: 5px;
		margin-bottom: 1.2em;
		width: 300px;
	}

	#citation span.auteur {
		display: block;
		text-align: right;
		font-weight: bold;
	}



	.maj {
		padding: 0px;
		color: white;
		font-size: 10px;
		font-family: verdana,arial,helvetica,sans;
	}
	
	.formulaire_recherche {
		padding: 3px;
		background-color: #9EB0AC;
		border: 1px solid white;
		color: #333333;
	}
	
	.sources {
		width: 100%;
		padding: 3px;
		background-color: #9EB0AC;
		border: 1px solid white;
		color: #333333;
	}
	
	.liste {
		color: white;
		background: url(http://rezo.net/img_rezo/puceblanche.gif) left no-repeat;
		#margin-left: 20px;
		#padding-left: 10px;
	}

	.chapo {
		text-align: left;
	}

	.spip_logos {
		margin: 3px;
		border-width: 0px;
		float: right;
		padding-left: 5px;
		padding-bottom: 5px;
	}

	#precedente {
		color: #111;
		display:block;
		margin-top: 2em;
		margin-bottom: 3em;
		font-weight: bold;
	}
	
	#nuage {
		float:right;
		width:275px;
		text-align:right;
		margin: 10px 0 10px 10px;
		padding-right: 6px;
		border-right: dotted #bbb;
	}

	.large #nuage {
		width: 400px;
	}

	#nuage a {
		color: #555;
		padding-left:3px;
		vertical-align:middle;
		white-space: nowrap;
	}

/* masquer l'auteur et la source chez mermet */
/* rezo.js recuperera la date */

.ecouter .auteur {
	display: none;
}


.plus {
	background: url(http://rezo.net/img_rezo/plus2.gif);
	width:9px;
	height:9px;
	margin-top: 9px;
	margin-left: 5px;
	float:right;
}
a.plus, a.plus:hover {
	color:transparent !important;
}

#une .plus {
	background: url(http://rezo.net/img_rezo/plus.gif);
	position: relative;
	top: -20px;
}


body.admin a[rel=bookmark] {
	background-color: yellow !important;
}


.pagination a {
	font-size:9px;
	font-family: arial, helvetica, sans;
	color: #444;
}
.pagination a:hover {
	color: #888;

}

/* le titre des pages mots etc */
#citation h1 {
	text-align:center;
	color:#4E596D;
	font-size:26px;
	letter-spacing:4px;
	text-align:center;
	text-transform:uppercase;
	font-weight:normal;
	font-family:arial,helvetica,sans;
}

body.page_mot #conteneur {
	background: url(http://rezo.net/img_rezo/patte-orange.gif) top right no-repeat;
}
body.page_rubrique #conteneur {
	background: url(http://rezo.net/img_rezo/patte-gris.gif) top right no-repeat;
}

.chapo {
	font-weight: bold;
	font-size: 14px;
	clear: both;
	line-height: 1.4em;
	
}

#footer .central {
	padding:8px;
	text-align: center;
}
#footer span {
	background: #eee;
	border: solid 1px #888;
	color: #111;
	padding: 5px 10px;
	margin-right: 30px;
}
#footer span a {
	color: #444;
}
#footer span a:visited {
	color: #444;
}